* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../assets/imgs/loginbackground.jpg);
    background-repeat: round;
    background-size: cover;
    font-family: "Outfit";
    color: white;
}

header {
    background-color: rgba(15, 1, 68, 0.3);
    box-shadow: black 1px 1px 20px 10px;
}

#h1-header {
    box-shadow: rgb(0, 0, 0) 1px 1px 20px 15px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

#href-h1-header {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 3px 2px 3px;
}

#nav-header {
    display: flex;
    justify-content: space-around
}

.href-header-nav {
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 8px 6px 10px;
    text-decoration: none;
    margin: 2%;
    padding: 0.5%;
    font-weight: 800;
    font-size: 18px;
    transition: 0.2s;
}

.href-header-nav:hover {
    box-shadow: rgb(255, 255, 255) 1px 1px 10px 5px;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#title-filtros {
    display: block;
    text-align: center;
    background-color: rgba(15, 1, 68, 0.3);
    box-shadow: black 1px 1px 10px 3px;
    text-shadow: rgb(0, 0, 0) 1px 1px 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
}

#form-filtros {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

#buscador-form {
    background-color: transparent;
    border-color: black;
    box-shadow: black 0px 0px 1px 2px;
    text-shadow: rgb(0, 0, 0) 1px 1px 4px;
    color: white;
    font-family: "Outfit";
    font-size: 16px;
    text-align: center;
    display: flex;
    width: 120px;
}

#buscador-form::placeholder {
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 1px 1px 7px;
    font-family: "Outfit";
    text-align: center;
}


#orden-precios {
    background-color: transparent;
    width: 20%;
    font-family: "Outfit";
    border-color: black;
    border-radius: 10px;
    box-shadow: black 0px 0px 1px 2px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 1px 1px 4px;
    font-size: 16px;
    width: 130px;
    transition: 0.3s;
    cursor: pointer;
}

#orden-precios:focus {
    background-color: rgba(143, 71, 238, 0.7);
    font-family: "Outfit";
}

#productos-lista:hover {
    cursor: pointer;
}

.envio-filters {
    display: flex;
    align-items: center;
}

#checkboxes-filters {
    box-shadow: black 0px 0px 1px 2px;
    border-radius: 10px;
    appearance: none;
    display: flex;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#checkboxes-filters:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='lime' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    background-size: 20px;
}

.labels-checkboxes-filters {
    font-size: 16px;
    margin-left: 3px;
    text-shadow: black 1px 0px 7px;
    cursor: pointer;
}

#checkboxes-filters:checked + label {
    color: lime;
}

#boton-buscador-form {
    font-family: "Outfit";
    text-shadow: rgb(0, 0, 0) 1px 0px 7px;
    background-color: transparent;
    box-shadow: black 0px 0px 1px 2px;
    border-color: black;
    display: flex;
    color: white;
    padding: 5px
}

#boton-buscador-form:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    cursor: pointer;
}

#title-lista-productos {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: rgb(0, 0, 0) 1px 1px 7px;
}

#lista-productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

.producto {
    box-shadow: black 1px 1px 10px;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 15px;
    color: black;
    margin-bottom: 15px;
    max-width: 250px;
    flex-wrap: wrap;
    transition: 0.2s;
}

.producto:hover {
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}
.link-to-item {
    text-decoration: none;
    color: unset;
}

.link-to-item:visited {
    text-decoration: none;
    color: unset;
}

.imagen-producto {
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.nombre-producto {
    text-shadow: black 0px 0px 1px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.info-producto {
    margin-top: 5%;
    text-shadow: black 0px 0px 1px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.precio-producto {
    text-shadow: black 0px 0px 1px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 30px;
}

.detalle-producto {
    color: black;
    text-shadow: lime 0px 0px 10px;
    background-color: lime;
    width: 100%;
    margin-top: 5%;
}

footer {
    background-color: rgba(0, 0, 0, 0.185);
    
}

#h4-footer {
    display: block;
    text-align: center;
    margin-top: 15px;
    padding: 25px;
}

#href-footer {
    color: white;
    text-decoration: none;
    text-shadow: black 5px 5px 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    box-shadow: white 1px 1px 20px;
    padding: 7px;
    transition: 0.2s;
}
#href-footer:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}
#lorem {
    text-align: justify;
    text-shadow: black 0px 0px 1px;
    padding: 5px;
}

#numerocontacto {
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}